/* Time Line */
.container-fluid#timeline{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  background-color: rgb(255, 255, 255);
}
.container-fluid#timeline0{
  width: 1600px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  grid-gap: 0px;
  margin: 0 auto;
}
.container-fluid#timeline0 .card#timeline1{
  position: relative;
  width: 220px;
  height: 270px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0 15px 60px rgba(0,0,0,.5);
}
.container-fluid#timeline0 .card#timeline1 .face{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-fluid#timeline0 .card#timeline1 .face.face3{
  box-sizing: border-box;
  padding: 10px;
}
.container-fluid#timeline0 .card#timeline1 .face.face3 img#timeline4{
    width: 220px;
    height: 270px;
}
.container-fluid#timeline0 .card#timeline1 .face.face4{
  background: #ffffff;
  height: 205px;
  opacity: 1;
  transition: 0.5s;
}
.container-fluid#timeline0 .card#timeline1:hover .face.face4{
  height: 20px;
}
.container-fluid#timeline0 .card#timeline1 .face.face4 h5{
  margin: 0;
  padding: 0;
  font-size: 1em;
}
.container-fluid#timeline0 .card#timeline1:hover .face.face4 .img#timeline3{
  width: 10%;
  height: 10%;
  opacity: 0;
}
